---
import { URL_BASE } from "@/config";
---

<footer class="max-w-7xl mx-auto p-4 md:p-6 flex gap-8 justify-center">
  <div>
    <img class="h-24 object-contain" src={`${URL_BASE}/images/mia.webp`} alt="Logo Mia">
  </div>
  <div>
    <img class="h-24 object-contain" src={`${URL_BASE}/images/mia20.webp`} alt="Logo Mia 20">
  </div>
  <div>
    <img class="h-24 object-contain" src={`${URL_BASE}/images/bellaface.webp`} alt="Logo Bellaface">
  </div>
  <div>
    <img class="h-24 object-contain" src={`${URL_BASE}/images/bellaface20.webp`} alt="Logo Bellaface 20">
  </div>
  <div>
    <img class="h-24 object-contain" src={`${URL_BASE}/images/dixi.webp`} alt="Logo Dixi">
  </div>
  <div>
    <img class="h-24 object-contain" src={`${URL_BASE}/images/dixi35.webp`} alt="Logo Dixi 35">
  </div>
  <div>
    <img class="h-24 object-contain" src={`${URL_BASE}/images/nofertyl.webp`} alt="Logo Nofertyl">
  </div>
</footer>